<template>
    <li class="list-group-item">
        {{ user.name }} [id: {{ user.id }}]
        <a class="btn btn-danger btn-xs" @click.prevent="removeUser" href="#" role="button">Remove</a>
    </li>
</template>

<script type="text/babel">
    const store = require('../store');

    module.exports = {
        props: ['user'],
        methods: {
            removeUser() {
                store.removeUser(this.user.id);
            }
        }
    };
</script>