<template>
    <form class="form-inline">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Name" v-model="newUserName">
        </div>
        <button class="btn btn-default" @click.prevent="addUser">Add User</button>
    </form>
</template>

<script type="text/babel">
    const store = require('../store');

    module.exports = {
        data() {
            return {
                newUserName: ''
            }
        },
        methods: {
            addUser() {
                if (!this.newUserName) {
                    return;
                }

                let newUser = {
                    name: this.newUserName,
                    id: this.makeUid()
                };

                store.addUser(newUser);
                this.newUserName = '';
            },
            makeUid() {
                let text = "";
                let possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";

                for (var i = 0; i < 5; i++)
                    text += possible.charAt(Math.floor(Math.random() * possible.length));

                return text;
            }
        }
    };
</script>