<template>
    <div>
        <h3 v-if="state.users.length">Users List</h3>
        <ul class="list-group" v-if="state.users.length">
            <user v-for="user in state.users" :user="user"></user>
        </ul>

        <h3 v-if="state.users.length <= 0">No users yet</h3>
    </div>
</template>

<script type="text/babel">
    module.exports = {
        components: {
            'user': require('./user.vue')
        },
        data() {
            return {
                state: require('../store').state
            }
        }
    };
</script>